- name: Install packages via homebrew
  community.general.homebrew:
    state: present
    update_homebrew: true
    name: "{{ packages_common + packages_brew }}"
  register: changed_pkgs

- name: Print changed packages
  debug: 
    msg: "{{ changed_pkgs }}"
