- name: Set variables
  set_fact:
    node_version: node@24

- name: Setup node version
  command: "mise install {{ node_version }}"

- name: Set global node version
  command: "mise use --global {{ node_version }}"

- name: Activate mise
  lineinfile:
    path: "{{ zsh_file }}"
    line: 'eval "$(mise activate zsh)"'
    state: present
    create: yes
