- name: Add zshconf to .zshrc
  lineinfile:
    path: ~/.zshrc
    line: "source ~/.zshconf"
    state: present
    create: yes

- name: Add utils.sh to .zshrc
  lineinfile:
    path: ~/.zshrc
    line: "source {{ config_path }}/utils.sh"

- name: Add powerlevel10k to zsh
  lineinfile:
    path: ~/.zshrc
    line: |
      {% if ansible_facts['os_family'] == 'Darwin' %}
      source $(brew --prefix)/share/powerlevel10k/powerlevel10k.zsh-theme
      {% else %}
      source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
      {% endif %}
    state: present
    create: yes

- name: Add zsh autosuggestions to zsh
  lineinfile:
    path: ~/.zshrc
    line: |
      {% if ansible_facts['os_family'] == 'Darwin' %}
      source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
      {% else %}
      source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
      {% endif %}
    state: present

- name: Add syntax highlighting to zsh
  lineinfile:
    path: ~/.zshrc
    line: |
      {% if ansible_facts['os_family'] == 'Darwin' %}
      source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
      {% else %}
      source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
      {% endif %}
    state: present

- name: Add fzf to zsh
  lineinfile:
    path: ~/.zshrc
    line: source <(fzf --zsh)
    state: present

