- name: Ansible Playbook
  hosts: localhost
  vars:
    dot_files_path: "{{ ansible_facts['user_dir'] }}/.config/dot_files"
    config_path: "{{ ansible_facts['user_dir'] }}/.config"
    playbook_path: "{{ ansible_facts['user_dir'] }}/.config/dot_files/ansible"
    zsh_file: "{{ ansible_facts['user_dir'] }}/.zshconf"
  pre_tasks:
    - name: Load package variables
      include_vars:
        dir: "{{ playbook_path }}/vars"
        extensions:
          - yaml
  tasks:
    - name: Setup homebrew packages
      include_tasks: "{{ playbook_path }}/tasks/brew.yaml"
      when: ansible_facts['distribution'] == 'MacOSX'

    - name: Setup pacman packages
      include_tasks: "{{ playbook_path }}/tasks/pacman.yaml"
      when: ansible_facts['distribution'] == 'Archlinux'

    - name: Setup dnf packages
      include_tasks: "{{ playbook_path }}/tasks/dnf.yaml"
      when: ansible_facts['distribution'] == 'Fedora'

    - name: Setup config files
      include_tasks: "{{ playbook_path }}/tasks/setup.yaml"

    - name: Install tpm plugins for tmux
      include_tasks: "{{ playbook_path }}/tasks/tmux.yaml"

    - name: Setup mise
      include_tasks: "{{ playbook_path }}/tasks/mise.yaml"

    - name: Link .zshconf to .zshrc
      include_tasks: "{{ playbook_path }}/tasks/zsh.yaml"
    
    - name: Setup AI tooling
      include_tasks: "{{ playbook_path }}/tasks/ai.yaml"
